@font-face {
    font-family: $r_regular;
    src: url(../../assets/fonts/Roboto-Regular.woff);
}

@font-face {
    font-family: $r_medium;
    src: url(../../assets/fonts/Roboto-Medium.woff);
}

@font-face {
  font-family: $r_bold;
  src: url(../../assets/fonts/Roboto-Bold.woff);
}

@font-face {
  font-family: $r_light;
  src: url(../../assets/fonts/Roboto-Light.woff);
}


