<div class="mob_menu">
  <div class="menu_head d-flex align-items--center justify-content--space-between">
    <input type="search" class="menu_search" placeholder="search">
    <img class="cursor--pointer" src="assets/icons/close.svg" alt="">
  </div>
  <div class="menu_content">
    <div class="login_lang">
      <div class="login"></div>
    </div>
    <div class="menu_items">
      <hr>
      <div class="menu_item_selected">
        <div class="menu_item_name d-flex align-items--center justify-content--space-between">
          <p class="menu_name">HAQQIMIZDA</p>
          <img src="assets/icons/arrow.svg" alt="">
        </div>
        <ul class="menu_opened_items">
          <li>Şirkət haqqında</li>
          <li>Vakansiyalar</li>
          <li>Korporativ sosial məsuliyyət</li>
          <li>Məxfilik siyasəti</li>
        </ul>
      </div>
      <hr>
      <div class="menu_item_non_selected">
        <div class="menu_item_name d-flex align-items--center justify-content--space-between">
          <p class="menu_name">MEDİA MƏRKƏZİ</p>
          <img class="upside" src="assets/icons/arrow.svg" alt="">
        </div>
      </div>
      <hr>
      <div class="menu_item_non_selected">
        <div class="menu_item_name d-flex align-items--center justify-content--space-between">
          <p class="menu_name">KORPORATİV MÜŞTƏRİLƏR ÜÇÜN</p>
        </div>
      </div>
      <hr>
      <button class="call_courier_mobile d-flex justify-content--center align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
    </div>

  </div>
</div>
