<div class="main_header ">
  <div class="main_header_content container d-flex justify-content--space-between align-items--center">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="main_header_menu">
      <nav class="main_header_menu_nav" role="navigation">
        <ul class="menu_nav_items">
          <li class="menu_nav_item"><a href="#">Daşınma və
            Çatdırılma şərtləri</a></li>
          <li class="menu_nav_item"><a href="#">Gömrük
            bəyannaməsi </a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">Faydalı
            məlumatlar</a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">DHL vasitəsi  ilə daşınması
            qadağan olan mallar
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="main_header_action">
      <button class="call_courier d-flex justify-content--space-between align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
      <div class="mobile_menu">
        <img src="assets/icons/burger_icon.svg" alt="">
      </div>
    </div>
  </div>

</div>
<div class="secondary_nav container d-flex align-items--center justify-content--space-between">
  <div class="secondary_menu">
    <nav class="main_header_menu_nav" role="navigation">
      <ul class="menu_nav_items">
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">HAQQIMIZDA </a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">DKORPORATİV MÜŞTƏRİLƏR ÜÇÜN</a></li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">MEDİA MƏRKƏZİ</a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">ƏLAQƏ
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="secondary_actions">
    <ul class="menu_nav_items">
      <li class="menu_nav_item secondary_menu_nav_item"><a href="#">AZ </a>
        <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
        <ul class="dropdown">
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
        </ul>
      </li>
    </ul>
    <img class="search_icon" src="assets/icons/search.svg" alt="">
    <div class="login align-items--center">
      <img class="user_icon" src="assets/icons/user.svg" alt="">
      <p>Müştəri girişi</p>
    </div>
  </div>
</div>
<div class="breadcrumbs ">
  <div class="container breadcrumbs_info d-flex flex-direction--column justify-content--center">
    <div class="breadcrumb_items">
      <p class="breadcrumb_items_name">Əsas səhifə</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Xidmətlər</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Idxal</p>
    </div>
    <p class="breadcrumb_active"> İdxal</p>
  </div>
</div>
<div class="container page_content">
  <div class="page_navigation">
    <div class="navigation_group">
      <p class="navigation_head">Haqqımızda</p>
      <ul class="navigation_list">
        <li class="navigation_item"><a href="">Şirkət haqqında</a></li>
        <li class="navigation_item"><a href="">Vakansiyalar</a></li>
        <li class="navigation_item"><a href="">Korporativ sosial məsuliyyət</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head active_head">Xidmətlər</p>
      <ul class="navigation_list">
        <li class="navigation_item active_item"><a href="">İdxal</a></li>
        <li class="navigation_item"><a href="">İxrac</a></li>
        <li class="navigation_item"><a href="">3-cü ölkədən daşınmalar</a></li>
        <li class="navigation_item"><a href="">Azərbaycana idxal və ixrac edilən yüklərin gömrük rəsmiləşdirilməsi</a></li>
        <li class="navigation_item"><a href="">Alıcı ölkənin göndərişin tərkibinə görə tətbiq etdiyi, məhdudiyyət və qadağalar</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head">Çatdırılma</p>
      <ul class="navigation_list">
        <li class="navigation_item"><a href="">Beynəlxalq çatdırılmalar</a></li>
        <li class="navigation_item"><a href="">Daşınma və çatdırılma şərtləri</a></li>
        <li class="navigation_item"><a href="">Gömrük deklarasiyası işləri</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head">Gömrük bəyannaməsi</p>
      <ul class="navigation_list">
        <li class="navigation_item "><a href="">İdxal</a></li>
        <li class="navigation_item"><a href="">İxrac</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head">Faydalı məlumatlar</p>
      <ul class="navigation_list">
        <li class="navigation_item "><a href="">Daşınma şərtləri - bağlamalar üçün</a></li>
        <li class="navigation_item"><a href="">Daşınma şərtləri - sənədlər üçün</a></li>
      </ul>
    </div>
  </div>
  <div class="page_data">
    <img class="page_img" src="assets/images/dhl_blank.svg" alt="">
    <img class="page_img_mobile " src="assets/icons/dhl_mobile.svg" alt="">
    <h2 class="data_head">GREEN LOGISTICS</h2>
    <p class="data_desc">
      Are you looking for a partner to help you achieve your sustainability goals?
      DHL is the pioneer of green logistics.
    </p>
    <div class="about_advances counts">
      <div class="advances_items">
        <p class="items_count">>100 MN</p>
        <p class="item_desc">KILOMETERS DRIVEN WITH E-VEHICLES FOR LAST-MILE DELIVERY</p>
      </div>
      <div class="advances_items">
        <p class="items_count">86%</p>
        <p class="item_desc">OF OUR ELECTRICITY IS FROM RENEWABLE ENERGY SOURCES</p>
      </div>
      <div class="advances_items">
        <p class="items_count">28,500</p>
        <p class="item_desc">BICYCLES USED FOR ZERO-EMISSION LAST-MILE DELIVERY IN GERMANY</p>
      </div>
      <div class="advances_items">
        <p class="items_count">>70,000</p>
        <p class="item_desc">EMPLOYEES TRAINED AS CERTIFIED GOGREEN SPECIALISTS</p>
      </div>
    </div>
    <p class="social_desc">As the world’s leading logistics company, we feel it is our responsibility to set an example in our industry and be a sustainability leader – reducing the carbon footprint of our operations and setting the highest social and governance standards. Over the years, we have repeatedly redefined logistics, from introducing the industry’s first green product to becoming the first logistics company to commit to a zero-emissions target. But our impact will be even greater if we join forces with you. While leading the way, we have introduced innovative green logistics solutions to make your supply chains more sustainable and help you achieve your environmental targets. Therefore it is our clear goal and commitment to offer you the most comprehensive portfolio of green products and solutions in the industry.

      Here you can find a selection of our best-in-class products and solutions to reduce carbon emissions without compromising on the service levels.</p>
    <h2 class="dhl_green_name">DHL GOGREEN SOLUTIONS</h2>
    <p class="green_name">Decrease Emissions. Increase Efficiency</p>
    <p class="green_desc">Emission friendly choices to meet all your transportation needs. We offer a number of service options for minimizing and/or avoiding logistics-related emissions, waste and other environmental impacts along your entire supply chain.</p>
    <img class="video_img" src="assets/images/video.svg" alt="">
    <div class="collapse_data">
      <h2 class="collapse_head">Our Products to Create Transparency</h2>
      <p class="collapse_text">Identifying and monitoring your carbon footprint provides valuable information on the environmental impact of your transport and logistics operations – an indispensable basis for setting sustainable targets.</p>
      <div class="advanced_div">
        <p class="advanced_name">DHL Carbon Report</p>
        <p class="advanced_desc">Transport & Logistics Environmental Footprint Report.</p>

      </div>
      <div class="specials_item">
        <img class="check" src="assets/icons/check.svg" alt="">
        <p class="check_name">Track your greenhouse gas emissions</p>
      </div>
      <div class="specials_item">
        <img class="check" src="assets/icons/check.svg" alt="">
        <p class="check_name">Track your greenhouse gas emissions</p>
      </div>
      <div class="specials_item">
        <img class="check" src="assets/icons/check.svg" alt="">
        <p class="check_name">Track your greenhouse gas emissions</p>
      </div>
    </div>
    <div class="collapsible">
      <div class='showHide'>
        <input type="checkbox" id="toggle" />

        <label for="toggle" class="collapsing">
        <span class='expand'>

        Show details
        </span>
          <span class="changeArrow arrow-up">↑</span>
          <span class="changeArrow arrow-dn">↓</span>
        </label>

        <div class="fieldsetContainer">
          <fieldset id="fdstLorem">
            Lorem ipsum...
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
