<div class="main_header ">
  <div class="main_header_content container d-flex justify-content--space-between align-items--center">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="main_header_menu">
      <nav class="main_header_menu_nav" role="navigation">
        <ul class="menu_nav_items">
          <li class="menu_nav_item"><a href="#">Daşınma və
            Çatdırılma şərtləri</a></li>
          <li class="menu_nav_item"><a href="#">Gömrük
            bəyannaməsi </a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">Faydalı
            məlumatlar</a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">DHL vasitəsi  ilə daşınması
            qadağan olan mallar
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="main_header_action">
      <button class="call_courier d-flex justify-content--space-between align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
      <div class="mobile_menu">
        <img src="assets/icons/burger_icon.svg" alt="">
      </div>
    </div>
  </div>

</div>
<div class="secondary_nav container d-flex align-items--center justify-content--space-between">
  <div class="secondary_menu">
    <nav class="main_header_menu_nav" role="navigation">
      <ul class="menu_nav_items">
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">HAQQIMIZDA </a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">DKORPORATİV MÜŞTƏRİLƏR ÜÇÜN</a></li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">MEDİA MƏRKƏZİ</a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">ƏLAQƏ
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="secondary_actions">
    <ul class="menu_nav_items">
      <li class="menu_nav_item secondary_menu_nav_item"><a href="#">AZ </a>
        <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
        <ul class="dropdown">
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
        </ul>
      </li>
    </ul>
    <img class="search_icon" src="assets/icons/search.svg" alt="">
    <div class="login align-items--center">
      <img class="user_icon" src="assets/icons/user.svg" alt="">
      <p>Müştəri girişi</p>
    </div>
  </div>
</div>
<div class="breadcrumbs ">
  <div class="container breadcrumbs_info d-flex flex-direction--column justify-content--center">
    <div class="breadcrumb_items">
      <p class="breadcrumb_items_name">Əsas səhifə</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Xidmətlər</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Idxal</p>
    </div>
    <p class="breadcrumb_active"> İdxal</p>
  </div>
</div>
<div class="container ">
  <div class="page_data tracking">
    <h2 class="data_head">Bağlamanızı izləmək üçün aviaqaimə nömrəsini daxil edin</h2>
    <p class="tracking_desc">Aviaqaimə nömrəsini daxil edin</p>
    <div class="form_item code_check tracking_input">
      <input class="form_input code" type="text" placeholder="Code*">
      <button class="check_action">
        Yoxla
      </button>
    </div>
    <p class="tracking_info">DHL Express is the world leader in logistics in courier delivery The main aim of the company is to work out the best logistics schemes to reduce delivery time. Besides express delivery we offer a wide range of additional services to our customers.

      DHL Express operates in over 220 countries and territories around the world.

      Geographic coverage in Russia includes 6,000 cities and towns. We work equally efficiently with domestic and international shipments. Advanced network and streamlined transport links help our company to offer unique solutions for express delivery.

      Express delivery by DHL has a number of definite advantages:
    </p>
    <div class="info_bar">
      <div class="info_icon">
        <img src="assets/icons/info1.svg" alt="">
      </div>
      <p >Göndərmə alıcı tərəfindən ödənilməli olan gömrük rüsumuna və vergilərə tabedir.</p>
    </div>
    <div class="avia_card">
      <img src="assets/icons/color.svg" alt="">
      <div>
        <p class="avia_id">1234567890</p>
        <div class="d-flex align-items--center direction">
          <p>Arlanda</p>
          <img src="assets/icons/arrow-forwarda.svg" alt="">
          <p>Sweden</p>
        </div>

      </div>
      <button class="more">Ətraflı</button>
    </div>
    <div class="avia_card">
      <img src="assets/icons/el_plane.svg" alt="">
      <div>
        <p class="avia_id">1234567890</p>
        <div class="d-flex align-items--center direction">
          <p>Arlanda</p>
          <img src="assets/icons/arrow-forwarda.svg" alt="">
          <p>Sweden</p>
        </div>

      </div>
      <button class="more">Ətraflı</button>
    </div>
    <div class="avia_tracking_map">
      <div class="d-flex">
      <img class="plane_icon" src="assets/icons/el_plane.svg" alt="">
        <div>
      <p class="avia_id">Payment is received and recorded for shipment related fees</p>
      <div class="d-flex align-items--center direction">
        <p>July, 12 2021 16:55 Local time | HONG KONG - HONG KONG SAR, CHINA</p>
      </div>
        </div>
      </div>
      <div class="tracking_map_progress">
        <div class="progress_completed"></div>
        <div class="progress_completed"></div>
        <div class="progress_not_completed"></div>
      </div>
      <div class="tracking_where">
        <p>HONG KONG - HONG KONG SAR, CHINA</p>
        <img src="assets/icons/arrow-forwarda.svg" alt="">
        <p>MACAU - MACAO SAR, CHINA</p>
      </div>
      <div class="tracking_div">
        <p class="d-flex justify-content--center track_head">Göndərmə Yeniləmələri
        <div class="tracking_item d-flex align-items--flex-start ">
          <div class="tracking_icon">
            <img src="assets/icons/bi_record-circle.svg" alt="">
            <div class="connecter"></div>
          </div>
          <div class="tracking_item_data">
            <p class="dispatch_day">Thursday</p>
            <p class="dispatch_date">23 Aprel 2021</p>
        <div class="status_data d-flex align-items--center ">
          <p>11:42 Local time</p>
          <span>|</span>
          <p class="status_delivered status_name">Delivered</p>
        </div>
        <p class="tracking_map">SUVA - FIJI</p>
          </div>
        </div>
    <div class="tracking_item d-flex align-items--flex-start ">
      <div class="tracking_icon">
        <img src="assets/icons/bi_caret-up-square.svg" alt="">
        <div class="connecter"></div>
      </div>
      <div class="tracking_item_data">
        <p class="dispatch_day">Thursday</p>
        <p class="dispatch_date">23 Aprel 2021</p>
        <div class="status_data d-flex align-items--center ">
          <p>11:42 Local time</p>
          <span>|</span>
          <p class=" status_name">Awaiting collection by recipient as requested</p>
        </div>
        <p class="tracking_map">MIAMI GATEWAY, FL - USA</p>
      </div>
    </div>
    <div class="tracking_item d-flex align-items--flex-start ">
      <div class="tracking_icon">
        <img src="assets/icons/maps-and-flags1.svg" alt="">
        <div class="connecter"></div>
      </div>
      <div class="tracking_item_data">
        <p class="dispatch_day">Thursday</p>
        <p class="dispatch_date">23 Aprel 2021</p>
        <div class="status_data d-flex align-items--center ">
          <p>11:42 Local time</p>
          <span>|</span>
          <p class=" status_name">Awaiting collection by recipient as requested</p>
        </div>
        <p class="tracking_map">MIAMI GATEWAY, FL - USA</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

