<div class="main_header ">
  <div class="main_header_content container d-flex justify-content--space-between align-items--center">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="main_header_menu">
      <nav class="main_header_menu_nav" role="navigation">
        <ul class="menu_nav_items">
          <li class="menu_nav_item"><a href="#">Daşınma və
            Çatdırılma şərtləri</a></li>
          <li class="menu_nav_item"><a href="#">Gömrük
            bəyannaməsi </a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">Faydalı
            məlumatlar</a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">DHL vasitəsi  ilə daşınması
            qadağan olan mallar
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="main_header_action">
      <button class="call_courier d-flex justify-content--space-between align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
      <div class="mobile_menu">
        <img src="assets/icons/burger_icon.svg" alt="">
      </div>
    </div>
  </div>

</div>
<div class="secondary_nav container d-flex align-items--center justify-content--space-between">
  <div class="secondary_menu">
    <nav class="main_header_menu_nav" role="navigation">
      <ul class="menu_nav_items">
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">HAQQIMIZDA </a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">DKORPORATİV MÜŞTƏRİLƏR ÜÇÜN</a></li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">MEDİA MƏRKƏZİ</a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">ƏLAQƏ
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="secondary_actions">
    <ul class="menu_nav_items">
      <li class="menu_nav_item secondary_menu_nav_item"><a href="#">AZ </a>
        <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
        <ul class="dropdown">
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
        </ul>
      </li>
    </ul>
    <img class="search_icon" src="assets/icons/search.svg" alt="">
    <div class="login align-items--center">
      <img class="user_icon" src="assets/icons/user.svg" alt="">
      <p>Müştəri girişi</p>
    </div>
  </div>
</div>
<div class="breadcrumbs ">
  <div class="container breadcrumbs_info d-flex flex-direction--column justify-content--center">
    <div class="breadcrumb_items">
      <p class="breadcrumb_items_name">Əsas səhifə</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Xidmətlər</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Idxal</p>
    </div>
    <p class="breadcrumb_active"> İdxal</p>
  </div>
</div>
<div class="receipt container">
  <div class="receipt_stepper stepper">
    <div class="stepper stepper--flexbox">
      <input class="stepper__input" id="stepper-flex-0" name="stepper-flex" type="radio" checked="checked"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-flex-0">Məlumatlar</label>
      </div>
      <input class="stepper__input" id="stepper-flex-1" name="stepper-flex" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-flex-1">Göndəriş detallar</label>
      </div>
      <input class="stepper__input" id="stepper-flex-2" name="stepper-flex" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-flex-2">Qablaşdırma</label>
      </div>
      <input class="stepper__input" id="stepper-flex-3" name="stepper-flex" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-flex-3">Ödəniş</label>
      </div>
    </div>

  </div>
  <div class="receipt_first_step">
    <div class="sender_form">
      <p class="form_header">Göndərən</p>
      <form action="">
        <div class="">
          <div class="validating single_input">
            <input class="form_input error" type="text" placeholder="Ad, soyad *">
            <p class="d-flex align-items--center">
              <img class="error_icon" src="assets/icons/error.svg" alt="">
              Form field error text.
            </p>
          </div>
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Şirkət *">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ölkə *">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ünvan *">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ünvan 2">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ünvan 3">
        </div>
        <div class="form_item">
          <div class="calc_inputs adjust_margin">
            <input class="form_input sm_input" type="text" placeholder="ZIP Kod *">
            <input class="form_input sm_input" type="text" placeholder="Şəhər *">
            <input class="form_input sm_input" type="text" placeholder="Rayon">
          </div>
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="E-poçt *">
        </div>
        <div class="form_item">
          <div class="phone_form">
            <select class="phone_type">
              <option value="">994</option>
              <option value="">000</option>
              <option value="">000</option>
            </select>
            <div class="number_input">
              <select class="country_code">
                <option value="">994</option>
                <option value="">000</option>
                <option value="">000</option>
              </select>
              <input class="form_input number" type="text" placeholder="__ ___ __ __ *">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="receiver_form">
      <p class="form_header">Alan</p>
      <form action="">
        <div class="">
          <div class="validating single_input">
            <input class="form_input error" type="text" placeholder="Ad, soyad *">
            <p class="d-flex align-items--center">
              <img class="error_icon" src="assets/icons/error.svg" alt="">
              Form field error text.
            </p>
          </div>
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Şirkət *">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ölkə *">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ünvan *">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ünvan 2">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ünvan 3">
        </div>
        <div class="form_item">
          <div class="calc_inputs adjust_margin">
            <input class="form_input sm_input" type="text" placeholder="ZIP Kod *">
            <input class="form_input sm_input" type="text" placeholder="Şəhər *">
            <input class="form_input sm_input" type="text" placeholder="Rayon">
          </div>
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="E-poçt *">
        </div>
        <div class="form_item">
          <div class="phone_form">
            <select class="phone_type">
              <option value="">994</option>
              <option value="">000</option>
              <option value="">000</option>
            </select>
            <div class="number_input">
              <select class="country_code">
                <option value="">994</option>
                <option value="">000</option>
                <option value="">000</option>
              </select>
              <input class="form_input number" type="text" placeholder="__ ___ __ __ *">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="receipt_second_step">
    <div class="customer_data">
      <div class="sender_data">
        <p class="sender_data_name">Göndərən</p>
        <div class="customer_content">
          <img class="customer_content_icon" src="assets/icons/maps-and-flags1.svg" alt="">
          <div>
            <p>Saiq Allahyarlı</p>
            <p> UI/UX Design company</p>
            <p> Baku</p>
            <p> Absheron</p>
            <p> AGAWAM Massachusetts 01001</p>
            <p>United States of America</p>
          </div>
        </div>
      </div>
      <div class="receiver_data">
        <p class="sender_data_name">Alan</p>
        <div class="customer_content">
          <img class="customer_content_icon" src="assets/icons/maps-and-flags1.svg" alt="">
          <div>
            <p>Saiq Allahyarlı</p>
            <p> UI/UX Design company</p>
            <p> Baku</p>
            <p> Absheron</p>
            <p> AGAWAM Massachusetts 01001</p>
            <p>United States of America</p>
          </div>
        </div>
      </div>
      <div class="receiver_data">
        <button class="edit_button">
          <img class="edit_icon" src="assets/icons/akar-icons_edit.svg" alt="">
          Redaktə et
        </button>
      </div>
    </div>
    <div class="customer_data">
      <div class="sender_data">
        <p class="sender_data_name">Məhsullar: Nümunə sənəd, nümunə sənəd 2</p>
        <div class="customer_content">
          <div>
            <p>Saiq Allahyarlı</p>
            <p> Ümumi dəyər: 56 USD

              Ümumi faktura dəyəri: 565 USD</p>
<!--            <p> Baku</p>-->
<!--            <p> Absheron</p>-->
<!--            <p> AGAWAM Massachusetts 01001</p>-->
<!--            <p>United States of America</p>-->
          </div>
        </div>
      </div>
      <div class="receiver_data">
        <button class="edit_button">
          <img class="edit_icon" src="assets/icons/akar-icons_edit.svg" alt="">
          Redaktə et
        </button>
      </div>
    </div>
    <div class="customer_data">
      <div class="sender_data">
        <p class="sender_data_name">Qablaşdırma</p>
        <div class="customer_content">
          <div>
            <p>Saiq Allahyarlı</p>
            <p> My Own Package - 2 ədəd - 2 kg (2 x 2 x 2 CM)


              Card Envelope - 1 ədəd - 5 kg (13.8 x 10.82 x 0.4 CM)</p>
            <!--            <p> Baku</p>-->
            <!--            <p> Absheron</p>-->
            <!--            <p> AGAWAM Massachusetts 01001</p>-->
            <!--            <p>United States of America</p>-->
          </div>
        </div>
      </div>
      <div class="receiver_data">
        <button class="edit_button">
          <img class="edit_icon" src="assets/icons/akar-icons_edit.svg" alt="">
          Redaktə et
        </button>
      </div>
    </div>
    <p class="sender_head">Göndəriş detalları</p>

<div class="sender_tabs">
      <input type="radio" name="select" id="option-1" checked>
      <input type="radio" name="select" id="option-2">
      <label for="option-1" class="option option-1">
        <div class="d-flex">
          <img class="doc_icon" src="assets/icons/document1.svg" alt="">
          <span>Sənəd</span>
        </div>
        <div class="dot"></div>

      </label>
      <label for="option-2" class="option option-2">
        <div class="d-flex">
          <img class="doc_icon"  src="assets/icons/box1.svg" alt="">
          <span>Bağlama</span>
        </div>
        <div class="dot"></div>

      </label>
    </div>
    <div class="form_sm">
      <div class="form_item">
        <p class="form_head">Göndərdiyiniz sənədləri təsvir edin</p>
        <select class="phone_type">
          <option value="">994</option>
          <option value="">000</option>
          <option value="">000</option>
        </select>
      </div>
      <div class="form_item">
        <p class="form_head">İstinad (göndərmə etiketində / yol vərəqəsində görünür)</p>
        <input class="form_input info_input" type="text" placeholder="İstinad">
      </div>
      <div class="form_warning">
        <p class="form_head">Göndərişlərinizi qoruyun</p>
        <div class="box">
          <input id="one" type="checkbox">
          <span class="check"></span>
          <label for="one">Göndərişlərimi qorumaq istəyirəm.</label>
        </div>
        <p >In the rare event of physical loss of your documents, DHL will compensate for the cost of recovery with a fixed lump sum of 400 USD.</p>
      </div>
      <p class="warning_info">Documents include legal, financial or business paperwork. Items with monetary value are NOT considered a document shipment.</p>
    </div>
    <div class="parcel_details form_sm">
      <div class="info_bar">
        <div class="info_icon">
          <img src="assets/icons/info1.svg" alt="">
        </div>
        <p>Göndərmə alıcı tərəfindən ödənilməli olan gömrük rüsumuna və vergilərə tabedir.</p>
      </div>
      <p>İnvoys növü</p>
      <div class="radios">
      <label class="radio_box">
        <input type="radio" name="radio-button" value="css" checked />
        <span>İnvoys hazırla</span>
      </label>
      <label class="radio_box">
        <input type="radio" name="radio-button" value="no" />
        <span>Öz nvoysumdan istifadə et</span>
      </label>
      </div>
      <div class="form_item margin_adjust">
        <p class="form_head">Göndərmənin məqsədi nədir?</p>
        <select class="phone_type">
          <option value="">994</option>
          <option value="">000</option>
          <option value="">000</option>
        </select>
      </div>
    </div>
    <div class="parcel_info">
      <div class="parcel_count">
        <p>1</p>
      </div>
      <div class="parcel_full_info">
        <div class="parcel_head">
          <p class="parcel_head_value">Məhsulun təsviri</p>
          <a href="">Qadağan olunmuş məhsullara baxın</a>
        </div>
        <input class="form_input info_input parcel_input" type="text" placeholder="Məhsulun tam təsviri">
        <div class="parcel_inputs">
          <div class="form_item parcel_item">
            <p class="form_head">Miqdar</p>
            <input class="form_input input_sm" type="text" placeholder="">
          </div>
          <div class="form_item parcel_item">
            <p class="form_head">Vahid dəyəri</p>
            <input class="form_input input_sm" type="text" placeholder="">
          </div>
          <select class="currency parcel_item">
            <option value="">USD</option>
            <option value="">AZN</option>
            <option value="">000</option>
          </select>
          <div class="form_item parcel_item">
            <p class="form_head">Xalis çəki</p>
            <input class="form_input info_input parcel_size" type="text" placeholder="">

          </div>
          <div class="form_item parcel_item">
            <p class="form_head">Ümumi Çəki</p>
            <input class="form_input info_input parcel_size" type="text" placeholder="">

          </div>
          <div class="for_item">
            <p class="form_head">Maddə harada hazırlanıb?</p>
          <select class="phone_type ">
            <option value="">994</option>
            <option value="">000</option>
            <option value="">000</option>
          </select>
          </div>
        </div>
      </div>
      <div class="parcel_copy">
        <img class="copy_icon" src="assets/icons/akar-icons_copy.svg" alt="">
        <span>Kopyala</span>
      </div>
    </div>
    <div class="parcel_add">
      <div class="parcel_detal">
        <p>Ümumi məhsul:  --.--</p>
        <p>Xalis çəki:  --.--</p>
        <p>Ümumi çəki:  --.--</p>
      </div>
      <button class="add_parcel">
        <img class="add_icon" src="assets/icons/plus-square1.svg" alt="">
        <p>Məhsul əlavə et</p>
      </button>
    </div>
    <div class="parcel_invoice">
      <div class="invoice_details">
        <p class="invoice_head">İnvoys dəyəri</p>
        <p>Bu göndəriş üçün əlavə xərclər daxil edin.</p>
        <div class="parcel_total d-flex align-items--center justify-content--space-between">
          <p>Məhsullar üçün ümumi dəyər (digər xərclər xaric)</p>
          <div class="parcel_price d-flex align-items--center">
            <p>0.00</p>
            <p>USD</p>
          </div>
        </div>
        <div class="parcel_total d-flex align-items--center justify-content--space-between">
          <select class="phone_type spending_type">
            <option value="">Xərc növü</option>
            <option value="">Xərc növü</option>
            <option value="">Xərc növü</option>
          </select>
          <div class="parcel_price d-flex align-items--center">
            <input class="form_input input_sm usd" type="text" placeholder="">
            <p>USD</p>
          </div>
        </div>
        <button class="add_parcel">
          <p>Əlavə et</p>
        </button>
      </div>
      <div class="invoice_total">
        <div class="total_price_detail">
          <p>Ümumi invoys dəyəri:</p>
          <p>0.00 USD</p>
        </div>
      </div>
    </div>
    <div class="parcel_additional_info ">
      <p>Əlavə informasiya</p>
      <textarea name="" id="" cols="30" rows="10" class="form_textarea form_input"></textarea>
    </div>
    </div>
  <div class="receipt_third_step">
    <div class="parcel_info parcel_info_third_step">
      <div class="parcel_full_info">
        <div class="parcel_inputs parcel_inputs_third">
          <div class="form_item parcel_item">
            <p class="form_head">Qablaşdırma</p>
            <select class="phone_type ">
              <option value="">994</option>
              <option value="">000</option>
              <option value="">000</option>
            </select>
          </div>
          <div class="form_item parcel_item">
            <p class="form_head">Miqdar</p>
            <input class="form_input input_sm" type="text" placeholder="">
          </div>
          <div class="form_item parcel_item">
            <p class="form_head">Çəki (kg)</p>
            <input class="form_input input_sm" type="text" placeholder="">
          </div>
          <div class="form_item parcel_item">
            <p class="form_head">Çəki (kg)</p>
            <p>35 * 27.5 * 2 CM</p>
          </div>
        </div>
      </div>
      <div class="parcel_copy">
        <img class="copy_icon" src="assets/icons/akar-icons_copy.svg" alt="">
        <span>Kopyala</span>
      </div>
    </div>
    <div class="parcel_add">
      <div class="parcel_detal">
        <p>Toplam:</p>
        <p><b>Toplam:</b></p>
        <p><b>5 kg</b></p>
      </div>
      <button class="add_parcel">
        <img class="add_icon" src="assets/icons/plus-square1.svg" alt="">
        <p>Məhsul əlavə et</p>
      </button>
    </div>
  </div>
  <div class="receipt_fourth_step">
    <p class="form_header">Ödəniş</p>
    <div class="sender_tabs">
      <input type="radio" name="select" id="option-3" checked>
      <input type="radio" name="select" id="option-4">
      <label for="option-3" class="option option-1">
        <div class="d-flex">
          <img class="doc_icon" src="assets/icons/document1.svg" alt="">
          <span>Nəğd ödəniş</span>
        </div>
        <div class="dot"></div>

      </label>
      <label for="option-4" class="option option-2">
        <div class="d-flex">
          <img class="doc_icon"  src="assets/icons/box1.svg" alt="">
          <span>Kartla ödəniş</span>
        </div>
        <div class="dot"></div>

      </label>
    </div>
    <div class="info_wrapper">
    <div class="info_bar">
      <div class="info_icon">
        <img src="assets/icons/info1.svg" alt="">
      </div>
      <p>Göndərmə alıcı tərəfindən ödənilməli olan gömrük rüsumuna və vergilərə tabedir.</p>
    </div>
    </div>
    <div class="pay_with_card">
      <div class="card_head">
        <img src="assets/images/cards.svg" alt="">
      </div>
      <div class="card_content">
        <div class="card_totals">
          <p class="total_head">Ödəniş yekun.</p>
          <div class="total_item">
            <p class="total_item_head">Məhsulun dəyəri:</p>
            <p class="total_item_currency">USD</p>
            <p class="total_item_amount">567.00</p>
          </div>
          <div class="total_item">
            <p class="total_item_head">Digər xərclər:</p>
            <p class="total_item_currency">USD</p>
            <p class="total_item_amount">567.00</p>
          </div>
          <div class="total_item total_last">
            <p class="total_item_head">Toplam ödəniləcək:</p>
            <p class="total_item_currency">USD</p>
            <p class="total_item_amount">567.00</p>
          </div>
        </div>
        <div class="card_details">
          <div class="form_item">
            <p class="form_head">Kart üzərindəki ad</p>
            <input class="form_input info_input" type="text" placeholder="İstinad">
          </div>
          <div class="form_item">
            <p class="form_head">Kart üzərindəki ad</p>
            <input class="form_input single_input" type="text" placeholder="0000 0000 0000 0000 *">
          </div>
          <div class="form_item">
            <div class="two_inputs">
              <input class="form_input" type="text" placeholder="Şirkət adı *">
              <input class="form_input" type="text" placeholder="Ünvan *">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="privacy_part">
      <p class="privacy_head">Şərtlər və Qaydalar</p>
      <p class="privacy_item">Ödəniş edərək - DHL <a href="">Daşınma qaydaları və şərtlərini</a>  qəbul edirəm.</p>
      <p class="privacy_item">Və bu daşınmanın hər hansı bir   <a href="">qadağan olunmuş maddələr</a> siyahısına daxil olmadığını təsdiq edirəm.</p>
    </div>

  </div>
  <div class="form_submit_parent">
    <button class="form_submit ">
      Növbəti
    </button>
  </div>
</div>

