<div class="main_header ">
  <div class="main_header_content container d-flex justify-content--space-between align-items--center">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="main_header_menu">
      <nav class="main_header_menu_nav" role="navigation">
        <ul class="menu_nav_items">
          <li class="menu_nav_item"><a href="#">Daşınma və
            Çatdırılma şərtləri</a></li>
          <li class="menu_nav_item"><a href="#">Gömrük
            bəyannaməsi </a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">Faydalı
            məlumatlar</a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">DHL vasitəsi  ilə daşınması
            qadağan olan mallar
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="main_header_action">
      <button class="call_courier d-flex justify-content--space-between align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
      <div class="mobile_menu">
        <img src="assets/icons/burger_icon.svg" alt="">
      </div>
    </div>
  </div>

</div>
<div class="secondary_nav container d-flex align-items--center justify-content--space-between">
  <div class="secondary_menu">
    <nav class="main_header_menu_nav" role="navigation">
      <ul class="menu_nav_items">
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">HAQQIMIZDA </a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">DKORPORATİV MÜŞTƏRİLƏR ÜÇÜN</a></li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">MEDİA MƏRKƏZİ</a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">ƏLAQƏ
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="secondary_actions">
    <ul class="menu_nav_items">
      <li class="menu_nav_item secondary_menu_nav_item"><a href="#">AZ </a>
        <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
        <ul class="dropdown">
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
        </ul>
      </li>
    </ul>
    <img class="search_icon" src="assets/icons/search.svg" alt="">
    <div class="login align-items--center">
      <img class="user_icon" src="assets/icons/user.svg" alt="">
      <p>Müştəri girişi</p>
    </div>
  </div>
</div>
<div class="breadcrumbs ">
  <div class="container breadcrumbs_info d-flex flex-direction--column justify-content--center">
    <div class="breadcrumb_items">
      <p class="breadcrumb_items_name">Əsas səhifə</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Xidmətlər</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Idxal</p>
    </div>
    <p class="breadcrumb_active"> İdxal</p>
  </div>
</div>
<div class="container ">
  <div class="page_data">
    <div class="success success_avia">
      <div class="success_check">
        <img class="building_icon" src="assets/icons/building.svg" alt="">
      </div>
      <div class="success_data">
        <h3 class="success_head">DHL Ofisinə yaxınlaşın</h3>
        <div class="d-flex align-items--center mb-16px">
          <img class="suces_icon" src="assets/icons/badge.svg" alt="">
          <p class="success_name"> Sifariş uğurla başa çatdı !</p>
        </div>
        <p class="success_desc">   Bizi seçdiyiniz üçün təşəkkür edirik. Əməkdaşlarımız ən qısa zamanda sizinlə əlaqə saxlayacaqdır.</p>
        <div class="form_submit_parent success_submit submit_pos">

          <button class="form_submit ">
            <img src="assets/icons/ant-design_download-outlined.svg" alt="">
            PDF Yüklə
          </button>
          <button class="form_submit print">
            <img src="assets/icons/fluent_print-16-regular.svg" alt="">
            Çap et
          </button>
        </div>
      </div>
    </div>
    <div class="success_contact_items">
      <div class="phone d-flex align-items--center success_item">
        <img class="phone_icon" src="assets/icons/address.svg" alt="">
        <span>Street 1, 7 Əhməd Rəcəbli, Bakı 1075</span>
      </div>
      <div class="phone d-flex align-items--center success_item">
        <img class="phone_icon" src="assets/icons/fluent_call-24-filled.svg" alt="">
        <span>(012) 493 47 14</span>
      </div>
      <div class="phone d-flex align-items--center success_item">
        <img class="phone_icon" src="assets/icons/ic_baseline-email.svg" alt="">
        <span>azcommerce@dhl.com </span>
      </div>
    </div>
  </div>
</div>

