<a class="router_item" routerLink="/notfound">404 not found</a>
<a class="router_item" routerLink="/about">Şirkət haqqında</a>
<a class="router_item" routerLink="/vacancies">Vakansiyalar</a>
<a class="router_item" routerLink="/vacancy">Vakansiyalar/vakansiya</a>
<a class="router_item" routerLink="/social-responsibility">Korporativ sosial məsuliyyət</a>
<a class="router_item" routerLink="/third-country">3-cü ölkədən daşınmalar</a>
<a class="router_item" routerLink="/gomruk-resmilesdir">gömrük rəsmiləşdirilməsi</a>
<a class="router_item" routerLink="/qadagalar">məhdudiyyət və qadağalar</a>
<a class="router_item" routerLink="/exports">İxrac</a>
<a class="router_item" routerLink="/imports">Idxal</a>
<a class="router_item" routerLink="/success">Success</a>
<a class="router_item" routerLink="/universal">Beynəlxalq çatdırılmalar</a>
<a class="router_item" routerLink="/declarations">Gömrük deklarasiyası işləri</a>
<a class="router_item" routerLink="/parcel-terms">Daşınma şərtləri bağlamalar üçün.</a>
<a class="router_item" routerLink="/document-terms">Daşınma şərtləri sənədlər üçün.</a>
<a class="router_item" routerLink="/prohibited">DHL vasitəsi ilə daşınması qadağan və məhdud olan mallar:</a>
<a class="router_item" routerLink="/document-terms">DHL Express-in Beynəlxalq Daşınmalar üzrə qayda və şərtləri.</a>
<a class="router_item" routerLink="/gomruk-import">Gomruk-İdxal</a>
<a class="router_item" routerLink="/gomruk-ixrac">Gomruk-İxrac</a>
<a class="router_item" routerLink="/place-order">Sifaris yerlesdir</a>
<a class="router_item" routerLink="/home">Home</a>
<a class="router_item" routerLink="/kiv">KIV</a>
<a class="router_item" routerLink="/faq">FAQ</a>
<!--<a class="router_item" routerLink="/parcel-terms">Daşınma şərtləri sənədlər üçün.</a>-->
