<div class="main_header ">
  <div class="main_header_content container d-flex justify-content--space-between align-items--center">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="main_header_menu">
      <nav class="main_header_menu_nav" role="navigation">
        <ul class="menu_nav_items">
          <li class="menu_nav_item"><a href="#">Daşınma və
            Çatdırılma şərtləri</a></li>
          <li class="menu_nav_item"><a href="#">Gömrük
            bəyannaməsi </a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">Faydalı
            məlumatlar</a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">DHL vasitəsi  ilə daşınması
            qadağan olan mallar
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="main_header_action">
      <button class="call_courier d-flex justify-content--space-between align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
      <div class="mobile_menu">
        <img src="assets/icons/burger_icon.svg" alt="">
      </div>
    </div>
  </div>

</div>
<div class="secondary_nav container d-flex align-items--center justify-content--space-between">
  <div class="secondary_menu">
    <nav class="main_header_menu_nav" role="navigation">
      <ul class="menu_nav_items">
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">HAQQIMIZDA </a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">DKORPORATİV MÜŞTƏRİLƏR ÜÇÜN</a></li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">MEDİA MƏRKƏZİ</a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">ƏLAQƏ
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="secondary_actions">
    <ul class="menu_nav_items">
      <li class="menu_nav_item secondary_menu_nav_item"><a href="#">AZ </a>
        <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
        <ul class="dropdown">
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
          <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
        </ul>
      </li>
    </ul>
    <img class="search_icon" src="assets/icons/search.svg" alt="">
    <div class="login align-items--center">
      <img class="user_icon" src="assets/icons/user.svg" alt="">
      <p>Müştəri girişi</p>
    </div>
  </div>
</div>
<div class="breadcrumbs ">
  <div class="container breadcrumbs_info d-flex flex-direction--column justify-content--center">
    <div class="breadcrumb_items">
      <p class="breadcrumb_items_name">Əsas səhifə</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Xidmətlər</p>
      <img class="breadcrumb_items_icon" src="assets/icons/path_right.svg" alt="">
      <p class="breadcrumb_items_name">Idxal</p>
    </div>
    <p class="breadcrumb_active"> İdxal</p>
  </div>
</div>
<div class="container page_content">
  <div class="page_navigation">
    <div class="navigation_group">
      <p class="navigation_head">Haqqımızda</p>
      <ul class="navigation_list">
        <li class="navigation_item"><a href="">Şirkət haqqında</a></li>
        <li class="navigation_item"><a href="">Vakansiyalar</a></li>
        <li class="navigation_item"><a href="">Korporativ sosial məsuliyyət</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head active_head">Xidmətlər</p>
      <ul class="navigation_list">
        <li class="navigation_item active_item"><a href="">İdxal</a></li>
        <li class="navigation_item"><a href="">İxrac</a></li>
        <li class="navigation_item"><a href="">3-cü ölkədən daşınmalar</a></li>
        <li class="navigation_item"><a href="">Azərbaycana idxal və ixrac edilən yüklərin gömrük rəsmiləşdirilməsi</a></li>
        <li class="navigation_item"><a href="">Alıcı ölkənin göndərişin tərkibinə görə tətbiq etdiyi, məhdudiyyət və qadağalar</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head">Çatdırılma</p>
      <ul class="navigation_list">
        <li class="navigation_item"><a href="">Beynəlxalq çatdırılmalar</a></li>
        <li class="navigation_item"><a href="">Daşınma və çatdırılma şərtləri</a></li>
        <li class="navigation_item"><a href="">Gömrük deklarasiyası işləri</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head">Gömrük bəyannaməsi</p>
      <ul class="navigation_list">
        <li class="navigation_item "><a href="">İdxal</a></li>
        <li class="navigation_item"><a href="">İxrac</a></li>
      </ul>
    </div>
    <div class="navigation_group">
      <p class="navigation_head">Faydalı məlumatlar</p>
      <ul class="navigation_list">
        <li class="navigation_item "><a href="">Daşınma şərtləri - bağlamalar üçün</a></li>
        <li class="navigation_item"><a href="">Daşınma şərtləri - sənədlər üçün</a></li>
      </ul>
    </div>
  </div>
  <div class="page_data">
    <img class="page_img" src="assets/images/dhl_blank.svg" alt="">
    <img class="page_img_mobile " src="assets/icons/dhl_mobile.svg" alt="">
    <h2 class="data_head">İdxal</h2>
    <p class="data_desc">DHL Express daha yaxşı çatdırılma üçün alıcı ölkənin gömrük qanunvericiliyi haqqında məlumatları təqdim edir. Məlumat almaq üçün aşağıdakı anketi doldura bilərsiniz. Həmkarlarımız ən qısa zamanda sizinlə əlaqə saxlayacaq   </p>
    <div class="stepper_form">
      <div class="form_first_step ">
        <div class="form_item">
          <p class="form_head">Aviaqaimə nömrəsi</p>
          <input class="form_input info_input" type="text" placeholder="Aviaqaimə nömrəsi *">
        </div>
        <div class="form_item">
          <input class="form_input single_input" type="text" placeholder="Ad, soyad *">
        </div>
        <div class="form_item">
          <div class="two_inputs">
            <div class="number_input">
              <select class="country_code">
                <option value="">994</option>
                <option value="">000</option>
                <option value="">000</option>
              </select>
              <input class="form_input number" type="text" placeholder="__ ___ __ __ *">
            </div>
            <input class="form_input" type="text" placeholder="E-poçt">
          </div>
        </div>
        <div class="form_submit_parent">
          <button class="form_submit ">
            Növbəti
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

