<div class="main_header ">
  <div class="main_header_content container d-flex justify-content--space-between align-items--center">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="main_header_menu">
      <nav class="main_header_menu_nav" role="navigation">
        <ul class="menu_nav_items">
          <li class="menu_nav_item"><a href="#">Daşınma və
            Çatdırılma şərtləri</a></li>
          <li class="menu_nav_item"><a href="#">Gömrük
            bəyannaməsi </a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">Faydalı
            məlumatlar</a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">DHL vasitəsi  ilə daşınması
            qadağan olan mallar
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="main_header_action">
      <button class="call_courier d-flex justify-content--space-between align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
      <div class="mobile_menu">
        <img src="assets/icons/burger_icon.svg" alt="">
      </div>
    </div>
  </div>

</div>
<div class="secondary_nav container d-flex align-items--center justify-content--space-between">
  <div class="secondary_menu">
    <nav class="main_header_menu_nav" role="navigation">
      <ul class="menu_nav_items">
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">HAQQIMIZDA </a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">DKORPORATİV MÜŞTƏRİLƏR ÜÇÜN</a></li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">MEDİA MƏRKƏZİ</a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">ƏLAQƏ
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="secondary_actions">
    <ul class="menu_nav_items">
    <li class="menu_nav_item secondary_menu_nav_item"><a href="#">AZ </a>
      <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
      <ul class="dropdown">
        <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
        <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
        <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
      </ul>
    </li>
    </ul>
    <img class="search_icon" src="assets/icons/search.svg" alt="">
    <div class="login align-items--center">
      <img class="user_icon" src="assets/icons/user.svg" alt="">
      <p>Müştəri girişi</p>
    </div>
  </div>
</div>
<div class="home">
  <section id="banner" class="home_banner">
    <div class="container banner_data d-flex justify-content--center">
      <h1 class="banner_jumbotron">
        Sənəd və Bağlamaların Beynəlxalq Daşınması
      </h1>
      <div class="banner_actions">
        <div class="actions_flex">
          <button class=" action calculate">QİYMƏT HESABLANMASI</button>
          <button class=" action track">GÖNDƏRİŞİN İZLƏNMƏSİ</button>
        </div>
        <div class="actions_order">
          <button class="place_order">SİFARİŞ YERLƏŞDİR</button>
        </div>
      </div>
    </div>
  </section>
  <section id="home_brief_info">
    <div class="container brief_info">
      <div class="brief_info_item">

      </div>
      <div class="brief_info_item"></div>
      <div class="brief_info_item"></div>
      <div class="brief_info_item"></div>
    </div>
  </section>
</div>
<footer>
  <div class="footer">
    <div class="container footer_data">
      <div class="footer_column">
        <p class="column_head">Haqqımızda</p>
        <ul class="column_navs">
          <li class="column_nav">Şirkət haqqında</li>
          <li class="column_nav">Vakansiyalar</li>
          <li class="column_nav">Faydalı məlumatlar</li>
          <li class="column_nav">Korporativ sosial məsuliyyət</li>
        </ul>
      </div>
      <div class="footer_column">
        <p class="column_head">Çatdırılma</p>
        <ul class="column_navs">
          <li class="column_nav">Beynəlxalq çatdırılmalar</li>
          <li class="column_nav">Çatdırılma şərtləri</li>
          <li class="column_nav">Gömrük deklarasiyası işləri</li>

        </ul>
      </div>
      <div class="footer_column">
        <p class="column_head">Sosial media</p>
        <ul class="column_navs">
          <li class="column_nav"><img class="nav_icon" src="assets/icons/facebook.svg" alt="">Facebook</li>
          <li class="column_nav"><img class="nav_icon" src="assets/icons/instagram.svg" alt="">Instagram</li>
          <li class="column_nav"><img class="nav_icon" src="assets/icons/linkedin.svg" alt="">Linkedin</li>
          <li class="column_nav"><img class="nav_icon" src="assets/icons/youtube.svg" alt="">Youtube</li>
        </ul>
      </div>
      <div class="footer_column">
        <p class="column_head">Yeniliklərə abunə olun</p>
        <div class="subscribe">
          <input type="email" class="subscribe_input" placeholder="Email adresiniz">
          <button class="subscribe_submit">
            <img src="assets/icons/arrow-forward.svg" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="footer_copyright">
      <div class="container copyright_data">
        <p class="copyright_text">© Bütün hüquqlar qorunur 2021.</p>
        <p class="copyright_text">Bu bir <a href="">Marcom</a> məhsuludur.</p>
      </div>
    </div>
  </div>
</footer>
