<div class="main_header ">
  <div class="main_header_content container d-flex justify-content--space-between align-items--center">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="main_header_menu">
      <nav class="main_header_menu_nav" role="navigation">
        <ul class="menu_nav_items">
          <li class="menu_nav_item"><a href="#">Daşınma və
            Çatdırılma şərtləri</a></li>
          <li class="menu_nav_item"><a href="#">Gömrük
            bəyannaməsi </a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">Faydalı
            məlumatlar</a>
            <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
            <ul class="dropdown">
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
              <li class="menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li class="menu_nav_item"><a href="#">DHL vasitəsi  ilə daşınması
            qadağan olan mallar
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="main_header_action">
      <button class="call_courier d-flex justify-content--space-between align-items--center">
        <img class="delivery_man" src="assets/icons/delivery-man.svg" alt="">
        KURYER ÇAĞIR
      </button>
      <div class="mobile_menu">
        <img src="assets/icons/burger_icon.svg" alt="">
      </div>
    </div>
  </div>

</div>
<div class="secondary_nav container d-flex align-items--center justify-content--space-between">
  <div class="secondary_menu">
    <nav class="main_header_menu_nav" role="navigation">
      <ul class="menu_nav_items">
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">HAQQIMIZDA </a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">DKORPORATİV MÜŞTƏRİLƏR ÜÇÜN</a></li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">MEDİA MƏRKƏZİ</a>
          <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
          <ul class="dropdown">
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
            <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
          </ul>
        </li>
        <li class="menu_nav_item secondary_menu_nav_item"><a href="#">ƏLAQƏ
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="secondary_actions">
    <ul class="menu_nav_items">
    <li class="menu_nav_item secondary_menu_nav_item"><a href="#">AZ </a>
      <img class="arrow_down" src="assets/icons/arrow_down.svg" alt="">
      <ul class="dropdown">
        <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-1</a></li>
        <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-2</a></li>
        <li class="menu_nav_item secondary_menu_nav_item dropdown_item"><a href="#">Sub-3</a></li>
      </ul>
    </li>
    </ul>
    <img class="search_icon" src="assets/icons/search.svg" alt="">
    <div class="login align-items--center">
      <img class="user_icon" src="assets/icons/user.svg" alt="">
      <p>Müştəri girişi</p>
    </div>
  </div>
</div>
<div class="home">
  <section id="banner" class="home_banner">
    <div class="container banner_data d-flex justify-content--center">
      <h1 class="banner_jumbotron">
        Sənəd və Bağlamaların Beynəlxalq Daşınması
      </h1>
      <div class="banner_actions">
        <div class="actions_flex">
          <button class=" action calculate">QİYMƏT HESABLANMASI</button>
          <button class=" action track">GÖNDƏRİŞİN İZLƏNMƏSİ</button>
        </div>
        <div class="actions_order">
          <button class="place_order">SİFARİŞ YERLƏŞDİR</button>
        </div>
      </div>
    </div>
  </section>
  <section id="home_brief_info">
    <div class="container brief_info">
      <div class="brief_info_item">
        <img class="brief_info_item_icon" src="assets/icons/travel.svg" alt="">
        <p class="brief_info_item_name">Beynəlxalq çatdırılma</p>
        <p class="brief_info_item_desc">İstənilən istiqamətə sənəd və bağlamaların çatdırılması</p>
      </div>
      <div class="brief_info_item">
        <img class="brief_info_item_icon" src="assets/icons/fly.svg" alt="">
        <p class="brief_info_item_name">Sürətli və etibarlı</p>
        <p class="brief_info_item_desc">Göndərişiniz mümkün ən qısa vaxt ərzində çatdırılır</p>
      </div>
      <div class="brief_info_item">
        <img class="brief_info_item_icon" src="assets/icons/parcel.svg" alt="">
        <p class="brief_info_item_name">Qapıdan-Qapıya</p>
        <p class="brief_info_item_desc">Sizin göndərişləri qapıda təhvil alırıq və alıcının ünvanında təhvil veririk</p>
      </div>
      <div class="brief_info_item">
        <img class="brief_info_item_icon" src="assets/icons/tracking.svg" alt="">
        <p class="brief_info_item_name">Göndərişlərin təqibi</p>
        <p class="brief_info_item_desc">Onlayn rejimdə göndərişinizin təqibi imkanı</p>
      </div>
    </div>
  </section>
  <section id="home_services" class="home_services">
    <div class="container home_services_container">
      <h2 class="home_services_head">Bizim xidmətlər</h2>
      <p class="home_services_desc">Qiymətlər, çatdırılma müddəti, gömrük rəsmiləşdirilməsi haqqında əlavə məlumat almaq sizin biznes üçün faydalıdır. </p>
      <div class="home_services_items">
        <div class="home_services_item">
          <img class="home_services_item_icon" src="assets/icons/import2.svg" alt="">
          <div class="name_height">
          <p class="home_services_item_name">İdxal</p>
          </div>
          <p class="home_services_item_desc">Xarici ölkədən sənəd və bağlamarınızı verəcəyiniz ünvandan götürüb qapınıza kimi çatdırırıq
          </p>
          <button  class="opp_action services_action">
            Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
          </button>
        </div>
        <div class="home_services_item">
          <img class="home_services_item_icon" src="assets/icons/pallet1.svg" alt="">
          <div class="name_height">
          <p class="home_services_item_name">İxrac</p>
          </div>
          <p class="home_services_item_desc">Azərbaycandan dünyanın istənilən ölkəsinə sənəd və bağlamalarınızı DHL Express vasitəsilə qısa müddətdə göndərə bilərsiniz

          </p>
          <button  class="opp_action services_action">
            Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
          </button>
        </div>
        <div class="home_services_item">
          <img class="home_services_item_icon" src="assets/icons/earth.svg" alt="">
          <div class="name_height">
          <p class="home_services_item_name">3-cü ölkədən daşınmalar</p>
          </div>
          <p class="home_services_item_desc">Siz bir ölkədən digərinə daşınmanı DHL Express vasitəsi ilə, ödənişi Azərbaycanda etməklə daşınma sifariş edə bilərsiniz
          </p>
          <button  class="opp_action services_action">
            Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
          </button>
        </div>
        <div class="home_services_item">
          <img class="home_services_item_icon" src="assets/icons/transfer.svg" alt="">
          <div class="name_height">
          <p class="home_services_item_name">Azərbaycana idxal və ixrac edilən yüklərin gömrük rəsmiləşdirilməsi</p>
          </div>
          <p class="home_services_item_desc">DHL Express vasitəsi ilə Azərbaycana idxal və ixrac edilən yüklərin gömrük rəsmiləşdirilməsini DHL Express-ə sifariş edə bilərsiniz.
          </p>
          <button  class="opp_action services_action">
            Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
          </button>
        </div>
        <div class="home_services_item">
          <img class="home_services_item_icon" src="assets/icons/file1.svg" alt="">
          <div class="name_height">
          <p class="home_services_item_name">Alıcı ölkənin göndərişin tərkibinə görə tətbiq etdiyi, məhdudiyyət və qadağalar</p>
          </div>
          <p class="home_services_item_desc">“DHL Express daha yaxşı çatdırılma üçün alıcı ölkənin gömrük qanunvericiliyi haqqında məlumatları təqdim edir.</p>

          <button  class="opp_action services_action">
            Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="opportunities">
    <div class="container opportunities_container">
      <div class="opportunities_brief">
        <h3 class="opportunities_brief_name">Fürsətlər</h3>
        <p class="opportunities_brief_desc">DHL Express sizə əlavə fürsətlər təqdim edir.</p>
      </div>
      <div class="opportunities_slider">
        <div class="opportunities_item">
          <div class="opportunities_img">
            <img src="assets/images/furset.jpg" alt="">
          </div>
          <div class="opportunities_info">
            <p class="opp_name">20 % endirim fürsəti</p>
            <p class="opp_desc">Bağlamanızın göndərilməsini müəyyən saatlarda DHL Express veb saytından onlayn sifariş edərək 20 % endirim fürsətindən...</p>
            <button  class="opp_action">
              Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
            </button>
          </div>
        </div>
        <div class="opportunities_item">
          <div class="opportunities_img">
            <img src="assets/images/furset.jpg" alt="">
          </div>
          <div class="opportunities_info">
            <p class="opp_name">20 % endirim fürsəti</p>
            <p class="opp_desc">Bağlamanızın göndərilməsini müəyyən saatlarda DHL Express veb saytından onlayn sifariş edərək 20 % endirim fürsətindən...</p>
            <button  class="opp_action">
              Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
            </button>
          </div>
        </div>
        <div class="opportunities_item">
          <div class="opportunities_img">
            <img src="assets/images/furset.jpg" alt="">
          </div>
          <div class="opportunities_info">
            <p class="opp_name">20 % endirim fürsəti</p>
            <p class="opp_desc">Bağlamanızın göndərilməsini müəyyən saatlarda DHL Express veb saytından onlayn sifariş edərək 20 % endirim fürsətindən...</p>
            <button  class="opp_action">
              Daha ətraflı <img class="forward" src="assets/icons/arrow-forward2.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container about_dhl">
      <div>
      <p class="about_dhl_head">Şirkət haqqında</p>
      <p class="about_dhl_section_name">DHL Express haqqında</p>
      <p class="about_dhl_section_desc">DHL, bütün dünya üzrə 220 -dən çox ölkə və ərazilərdə insanları birləşdirir. 400 mindən çox əməkdaşı sayəsində məktublaşmaların, məhsulların və məlumatların idarə edilməsi və daşınması üçün inteqrasiya olunmuş xidmətlər və xüsusi həllər təqdim edirik.
      </p>
      </div>
      <div>
        <p class="about_dhl_section_name">MyDHL+</p>
        <p class="about_dhl_section_desc">Tək həll - bir çox üstünlük

          MyDHL + ilə yükünüzü tez bir şəkildə onlayn rejimdə qeydə ala, tarifi hesablaya, kuryerin gəliş tarixini, ən yaxın xidmət məntəqəsinin ünvanını tapa, yükünüzü izləyə və daha bir çox üstunlükdən yaralana bilərsiniz!

        </p>
      </div>
      <div>
        <p class="about_dhl_section_name">İdea və İnnovasiyalar</p>
        <p class="about_dhl_section_desc">Əməkdaşlıqları dəstəkləyərək, şirkət, DHL-in biznes bölmələri çərçivəsində müştərilər, tədqiqat və akademik qurumlar, sənaye ortaqları və logistika mütəxəssisləri arasında qarşılıqlı əlaqəni inkişaf etdirir. Logistika sahəsində fikir öncüsü olaraq, DHL sistematik olaraq trendlərin araşdırəlmasına və həllərin hazırlanmasına investisiya edir.

        </p>
      </div>
      <div class="about_stepper">
        <p class="stepper_head">İndi isə DHL Express ilə göndərmək daha da rahatdır:</p>
        <div class="divided">
          <div class="d-flex flex-direction--column align-items--center mobile--flex-direction--row mobile_fix">
            <img class="divider_icon" src="assets/icons/001-box.svg" alt="">
            <p class="divider_name">Göndərişinizi hazırlayırsız</p>
          </div>
          <span class="divider"></span>
          <div class="d-flex flex-direction--column align-items--center mobile--flex-direction--row mobile_fix">
            <img class="divider_icon" src="assets/icons/002-contact-form.svg" alt="">
            <p class="divider_name">Bizim sayt vasitəsi ilə onu qeydiyyata salırsız</p>
          </div>
          <span class="divider"></span>
          <div class="d-flex flex-direction--column align-items--center mobile--flex-direction--row mobile_fix">
            <img class="divider_icon" src="assets/icons/package1.svg" alt="">
            <p class="divider_name">Göndərişinizi hazırlayırsız</p>
          </div>
        </div>
        <p class="stepper_desc">Bizim təkmilləşdirilmiş təqib mexanizmi ilə göndərişinizin statusunu hər an yoxlaya bilərsiz. Hazırda təklif etdiyimiz rəqəmsal həllər ilə siz elektron ticarətinizin beynəlxalq daşınma hissəsini tam avtomatlaşdıra bilərsiniz.
        </p>
      </div>
      </div>
  </section>
</div>
<footer>
  <div class="footer">
    <div class="container footer_data">
      <div class="footer_column">
        <p class="column_head">Haqqımızda</p>
        <ul class="column_navs">
          <li class="column_nav">Şirkət haqqında</li>
          <li class="column_nav">Vakansiyalar</li>
          <li class="column_nav">Faydalı məlumatlar</li>
          <li class="column_nav">Korporativ sosial məsuliyyət</li>
        </ul>
      </div>
      <div class="footer_column">
        <p class="column_head">Çatdırılma</p>
        <ul class="column_navs">
          <li class="column_nav">Beynəlxalq çatdırılmalar</li>
          <li class="column_nav">Çatdırılma şərtləri</li>
          <li class="column_nav">Gömrük deklarasiyası işləri</li>

        </ul>
      </div>
      <div class="footer_column">
        <p class="column_head">Sosial media</p>
        <ul class="column_navs">
          <li class="column_nav"><img class="nav_icon" src="assets/icons/facebook.svg" alt="">Facebook</li>
          <li class="column_nav"><img class="nav_icon" src="assets/icons/instagram.svg" alt="">Instagram</li>
          <li class="column_nav"><img class="nav_icon" src="assets/icons/linkedin.svg" alt="">Linkedin</li>
          <li class="column_nav"><img class="nav_icon" src="assets/icons/youtube.svg" alt="">Youtube</li>
        </ul>
      </div>
      <div class="footer_column">
        <p class="column_head">Yeniliklərə abunə olun</p>
        <div class="subscribe">
          <input type="email" class="subscribe_input" placeholder="Email adresiniz">
          <button class="subscribe_submit">
            <img src="assets/icons/arrow-forward.svg" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="footer_copyright">
      <div class="container copyright_data">
        <p class="copyright_text">© Bütün hüquqlar qorunur 2021.</p>
        <p class="copyright_text">Bu bir <a href="">Marcom</a> məhsuludur.</p>
      </div>
    </div>
  </div>
</footer>
